In [ ]:
#Defining path to census 2000-2010 files to be able to append all of them into one data frame
import glob

In [ ]:
import os

In [ ]:
path = '/content/Census_data/2000-2010'

In [ ]:
extension = 'csv'

In [ ]:
os.chdir(path)

In [ ]:
result = glob.glob('*.{}'.format(extension))

In [ ]:
print(len(result))

In [ ]:
import pandas as pd

In [ ]:
#Appending all census data from 2000-2010 together
df_csv_append = pd.DataFrame()
for file in result:
    print(file)
    df = pd.read_csv(file, encoding='latin-1')
    df_csv_append = df_csv_append.append(df, ignore_index=True)
 
df_csv_append

In [ ]:
#Year is not defined as an absolute year, but a code that refers to a certain year. Certain year codes need to be dropped, given value '0'
def categorise(row):
    if row['YEAR'] == 1:
      return 0 
    if row['YEAR'] == 2:
        return 2000
    if row['YEAR'] == 3:
        return 2001
    if row['YEAR'] == 4:
        return 2002
    if row['YEAR'] == 5:
        return 2003
    if row['YEAR'] == 6:
        return 2004
    if row['YEAR'] == 7:
        return 2005
    if row['YEAR'] == 8:
        return 2006
    if row['YEAR'] == 9:
        return 2007
    if row['YEAR'] == 10:
        return 2008
    if row['YEAR'] == 11:
        return 2009
    if row['YEAR'] == 12:
        return 0
    if row['YEAR'] == 13:
        return 2010    
    return 0

In [ ]:
#New year column "POP_YEAR" is created
df_csv_append['POP_YEAR'] = df_csv_append.apply (lambda row: categorise(row), axis=1)

In [ ]:
df_csv_append

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HBA_FEMALE,HIA_MALE,HIA_FEMALE,HAA_MALE,HAA_FEMALE,HNA_MALE,HNA_FEMALE,HTOM_MALE,HTOM_FEMALE,POP_YEAR
0,50,4,1,Arizona,Apache County,1,0,1232,615,617,...,0,6,7,1,0,0,1,1,3,0
1,50,4,1,Arizona,Apache County,1,1,5068,2583,2485,...,0,19,26,3,0,1,1,5,5,0
2,50,4,1,Arizona,Apache County,1,2,7603,3890,3713,...,3,26,31,2,3,1,1,2,5,0
3,50,4,1,Arizona,Apache County,1,3,8228,4179,4049,...,2,26,45,0,0,0,1,3,1,0
4,50,4,1,Arizona,Apache County,1,4,6941,3628,3313,...,0,35,39,0,0,0,2,6,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
817175,50,5,149,Arkansas,Yell County,13,15,856,400,456,...,1,0,0,0,0,0,0,0,0,2010
817176,50,5,149,Arkansas,Yell County,13,16,673,319,354,...,0,0,0,0,0,0,0,0,0,2010
817177,50,5,149,Arkansas,Yell County,13,17,422,167,255,...,0,0,0,0,0,0,0,0,0,2010
817178,50,5,149,Arkansas,Yell County,13,18,434,131,303,...,0,0,0,0,0,0,0,0,0,2010
817179,50,5,149,Arkansas,Yell County,13,99,22206,11073,11133,...,42,25,19,10,11,3,0,12,13,2010

In [ ]:
#Age group 0 defines whole population, which is what we are looking at, so every other age group is dropped
df_csv_append = df_csv_append[df_csv_append.AGEGRP == 0]

In [ ]:
df_csv_append

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HBA_FEMALE,HIA_MALE,HIA_FEMALE,HAA_MALE,HAA_FEMALE,HNA_MALE,HNA_FEMALE,HTOM_MALE,HTOM_FEMALE,POP_YEAR
0,50,4,1,Arizona,Apache County,1,0,1232,615,617,...,0,6,7,1,0,0,1,1,3,0
20,50,4,1,Arizona,Apache County,2,0,1243,620,623,...,0,6,7,1,0,0,1,1,3,2000
40,50,4,1,Arizona,Apache County,3,0,1101,542,559,...,0,8,9,1,0,0,1,2,3,2001
60,50,4,1,Arizona,Apache County,4,0,1050,515,535,...,0,9,11,1,0,0,1,2,3,2002
80,50,4,1,Arizona,Apache County,5,0,1084,550,534,...,0,10,12,1,0,0,1,3,3,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
817080,50,5,149,Arkansas,Yell County,9,0,347,182,165,...,1,0,0,0,0,0,0,1,0,2007
817100,50,5,149,Arkansas,Yell County,10,0,342,174,168,...,1,0,0,0,0,0,0,1,0,2008
817120,50,5,149,Arkansas,Yell County,11,0,303,157,146,...,1,0,0,0,0,2,0,1,0,2009
817140,50,5,149,Arkansas,Yell County,12,0,295,156,139,...,2,0,0,0,0,2,0,1,0,0
817160,50,5,149,Arkansas,Yell County,13,0,296,155,141,...,1,0,0,0,0,1,0,0,0,2010

In [ ]:
#FIPS code is given as county and state seperately
#New code has to be created which is a composite of both so that other data can be joined later on
#Creating a string version of the county column
df_csv_append['FIPS_COUNTY'] = df_csv_append['COUNTY'].astype(str)

In [ ]:
#Adding leading zeroes to match necessary format
df_csv_append['FIPS_COUNTY'] = df_csv_append['FIPS_COUNTY'].str.zfill(3)

In [ ]:
#Creating string version of state column
df_csv_append['FIPS_STATE'] = df_csv_append['STATE'].astype(str)

In [ ]:
#Adding leading zeroes to match necessary format
df_csv_append['FIPS_STATE'] = df_csv_append['FIPS_STATE'].str.zfill(2)

In [ ]:
#Creating FIPS code which is a composite of state and county
df_csv_append['FIPS_CODE'] = df_csv_append['FIPS_STATE'] + df_csv_append['FIPS_COUNTY']

In [ ]:
df_csv_append

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HAA_MALE,HAA_FEMALE,HNA_MALE,HNA_FEMALE,HTOM_MALE,HTOM_FEMALE,POP_YEAR,FIPS_COUNTY,FIPS_STATE,FIPS_CODE
0,50,4,1,Arizona,Apache County,1,0,1232,615,617,...,1,0,0,1,1,3,0,001,04,04001
20,50,4,1,Arizona,Apache County,2,0,1243,620,623,...,1,0,0,1,1,3,2000,001,04,04001
40,50,4,1,Arizona,Apache County,3,0,1101,542,559,...,1,0,0,1,2,3,2001,001,04,04001
60,50,4,1,Arizona,Apache County,4,0,1050,515,535,...,1,0,0,1,2,3,2002,001,04,04001
80,50,4,1,Arizona,Apache County,5,0,1084,550,534,...,1,0,0,1,3,3,2003,001,04,04001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
817080,50,5,149,Arkansas,Yell County,9,0,347,182,165,...,0,0,0,0,1,0,2007,149,05,05149
817100,50,5,149,Arkansas,Yell County,10,0,342,174,168,...,0,0,0,0,1,0,2008,149,05,05149
817120,50,5,149,Arkansas,Yell County,11,0,303,157,146,...,0,0,2,0,1,0,2009,149,05,05149
817140,50,5,149,Arkansas,Yell County,12,0,295,156,139,...,0,0,2,0,1,0,0,149,05,05149
817160,50,5,149,Arkansas,Yell County,13,0,296,155,141,...,0,0,1,0,0,0,2010,149,05,05149

In [ ]:
#Dropping years that we do not want
df_csv_append = df_csv_append[df_csv_append.POP_YEAR != 0]

In [ ]:
df_csv_append

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HAA_MALE,HAA_FEMALE,HNA_MALE,HNA_FEMALE,HTOM_MALE,HTOM_FEMALE,POP_YEAR,FIPS_COUNTY,FIPS_STATE,FIPS_CODE
20,50,4,1,Arizona,Apache County,2,0,1243,620,623,...,1,0,0,1,1,3,2000,001,04,04001
40,50,4,1,Arizona,Apache County,3,0,1101,542,559,...,1,0,0,1,2,3,2001,001,04,04001
60,50,4,1,Arizona,Apache County,4,0,1050,515,535,...,1,0,0,1,2,3,2002,001,04,04001
80,50,4,1,Arizona,Apache County,5,0,1084,550,534,...,1,0,0,1,3,3,2003,001,04,04001
100,50,4,1,Arizona,Apache County,6,0,1211,642,569,...,1,0,0,1,3,3,2004,001,04,04001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
817060,50,5,149,Arkansas,Yell County,8,0,352,170,182,...,0,0,1,0,0,0,2006,149,05,05149
817080,50,5,149,Arkansas,Yell County,9,0,347,182,165,...,0,0,0,0,1,0,2007,149,05,05149
817100,50,5,149,Arkansas,Yell County,10,0,342,174,168,...,0,0,0,0,1,0,2008,149,05,05149
817120,50,5,149,Arkansas,Yell County,11,0,303,157,146,...,0,0,2,0,1,0,2009,149,05,05149
817160,50,5,149,Arkansas,Yell County,13,0,296,155,141,...,0,0,1,0,0,0,2010,149,05,05149

In [ ]:
#Downloading csv
from google.colab import files
df_csv_append.to_csv('Census2000-2010.csv', encoding = 'utf-8-sig') 
files.download('Census2000-2010.csv')

In [ ]:
#Repeating all steps for data from 2010-2020
path = '/content/Census_data/2010-2020'
extension = 'csv'
os.chdir(path)
result = glob.glob('*.{}'.format(extension))

In [ ]:
df_csv_append2020 = pd.DataFrame()
for file in result:
    print(file)
    df = pd.read_csv(file, encoding='latin-1')
    df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)
 
df_csv_append2020

In [ ]:
#Defining the year categories based on new dataset
def categorise2010(row):
    if row['YEAR'] == 1:
      return 0 
    if row['YEAR'] == 2:
        return 0
    if row['YEAR'] == 3:
        return 0
    if row['YEAR'] == 4:
        return 2011
    if row['YEAR'] == 5:
        return 2012
    if row['YEAR'] == 6:
        return 2013
    if row['YEAR'] == 7:
        return 2014
    if row['YEAR'] == 8:
        return 2015
    if row['YEAR'] == 9:
        return 2016
    if row['YEAR'] == 10:
        return 2017
    if row['YEAR'] == 11:
        return 2018
    if row['YEAR'] == 12:
        return 2019
    if row['YEAR'] == 13:
        return 2020    
    return 0

In [ ]:
#Applying new year function
df_csv_append2020['POP_YEAR'] = df_csv_append2020.apply (lambda row: categorise2010(row), axis=1)
df_csv_append2020

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE,POP_YEAR
0,50,10,1,Delaware,Kent County,1,0,162310,78035,84275,...,3562,1015,1168,194,232,117,106,39,49,0
1,50,10,1,Delaware,Kent County,1,1,11150,5706,5444,...,458,202,179,25,27,23,17,6,9,0
2,50,10,1,Delaware,Kent County,1,2,11286,5724,5562,...,356,152,154,29,27,18,16,9,3,0
3,50,10,1,Delaware,Kent County,1,3,11119,5700,5419,...,319,99,120,16,23,18,15,4,6,0
4,50,10,1,Delaware,Kent County,1,4,12370,6198,6172,...,295,130,153,23,22,9,9,3,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
776316,50,1,133,Alabama,Winston County,13,14,1540,759,781,...,3,0,0,0,0,0,0,1,0,2020
776317,50,1,133,Alabama,Winston County,13,15,1441,668,773,...,5,0,0,0,1,0,1,1,1,2020
776318,50,1,133,Alabama,Winston County,13,16,1067,471,596,...,0,0,0,0,0,0,0,0,0,2020
776319,50,1,133,Alabama,Winston County,13,17,675,296,379,...,3,0,0,0,0,0,0,0,0,2020
776320,50,1,133,Alabama,Winston County,13,18,587,187,400,...,1,0,0,0,0,0,0,0,0,2020

In [ ]:
#Dropping unnecessary age groups
df_csv_append2020 = df_csv_append2020[df_csv_append2020.AGEGRP == 0]

In [ ]:
df_csv_append2020

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE,POP_YEAR
0,50,10,1,Delaware,Kent County,1,0,162310,78035,84275,...,3562,1015,1168,194,232,117,106,39,49,0
19,50,10,1,Delaware,Kent County,2,0,162352,78059,84293,...,3562,1015,1168,194,232,117,106,39,49,0
38,50,10,1,Delaware,Kent County,3,0,162972,78370,84602,...,3589,1037,1185,228,243,95,97,46,60,0
57,50,10,1,Delaware,Kent County,4,0,165161,79505,85656,...,3803,1093,1218,248,265,89,100,52,67,2011
76,50,10,1,Delaware,Kent County,5,0,167370,80724,86646,...,3923,1173,1235,275,257,102,107,69,66,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
776226,50,1,133,Alabama,Winston County,9,0,23911,11811,12100,...,279,15,9,42,33,6,9,27,15,2016
776245,50,1,133,Alabama,Winston County,10,0,23753,11717,12036,...,282,12,14,47,33,7,9,28,15,2017
776264,50,1,133,Alabama,Winston County,11,0,23690,11670,12020,...,285,18,18,45,28,10,10,31,15,2018
776283,50,1,133,Alabama,Winston County,12,0,23700,11657,12043,...,299,14,20,48,28,11,10,28,15,2019
776302,50,1,133,Alabama,Winston County,13,0,23508,11554,11954,...,297,16,22,48,31,7,16,27,16,2020

In [ ]:
#Creating composite FIPS key
df_csv_append2020['FIPS_COUNTY'] = df_csv_append2020['COUNTY'].astype(str)
df_csv_append2020['FIPS_COUNTY'] = df_csv_append2020['FIPS_COUNTY'].str.zfill(3)
df_csv_append2020['FIPS_STATE'] = df_csv_append2020['STATE'].astype(str)
df_csv_append2020['FIPS_STATE'] = df_csv_append2020['FIPS_STATE'].str.zfill(2)
df_csv_append2020['FIPS_CODE'] = df_csv_append2020['FIPS_STATE'] + df_csv_append2020['FIPS_COUNTY']
df_csv_append2020

In [ ]:
#Dropping unnecessary years
df_csv_append2020 = df_csv_append2020[df_csv_append2020.POP_YEAR != 0]

In [ ]:
df_csv_append2020

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE,POP_YEAR,FIPS_COUNTY,FIPS_STATE,FIPS_CODE
57,50,10,1,Delaware,Kent County,4,0,165161,79505,85656,...,248,265,89,100,52,67,2011,001,10,10001
76,50,10,1,Delaware,Kent County,5,0,167370,80724,86646,...,275,257,102,107,69,66,2012,001,10,10001
95,50,10,1,Delaware,Kent County,6,0,169144,81648,87496,...,271,274,118,120,60,76,2013,001,10,10001
114,50,10,1,Delaware,Kent County,7,0,171600,82899,88701,...,280,306,106,115,61,78,2014,001,10,10001
133,50,10,1,Delaware,Kent County,8,0,173308,83561,89747,...,285,326,120,112,72,94,2015,001,10,10001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
776226,50,1,133,Alabama,Winston County,9,0,23911,11811,12100,...,42,33,6,9,27,15,2016,133,01,01133
776245,50,1,133,Alabama,Winston County,10,0,23753,11717,12036,...,47,33,7,9,28,15,2017,133,01,01133
776264,50,1,133,Alabama,Winston County,11,0,23690,11670,12020,...,45,28,10,10,31,15,2018,133,01,01133
776283,50,1,133,Alabama,Winston County,12,0,23700,11657,12043,...,48,28,11,10,28,15,2019,133,01,01133
776302,50,1,133,Alabama,Winston County,13,0,23508,11554,11954,...,48,31,7,16,27,16,2020,133,01,01133

In [ ]:
#Downloading csv
df_csv_append2020.to_csv('Census2010-2020.csv', encoding = 'utf-8-sig') 
files.download('Census2010-2020.csv')

In [ ]:
#Repeating steps for 2021 data
path = '/content/Census_data/2020-2021'
extension = 'csv'
os.chdir(path)
result = glob.glob('*.{}'.format(extension))
df_csv_append2021 = pd.DataFrame()
for file in result:
    print(file)
    df = pd.read_csv(file, encoding='latin-1')
    df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)
 
df_csv_append2021

In [ ]:
#Only want to keep 1 year, defining function for categorizing years
def categorise2021(row):
    if row['YEAR'] == 3:
      return 2021  
    return 0

In [ ]:
#Applying year categorization
df_csv_append2021['POP_YEAR'] = df_csv_append2021.apply (lambda row: categorise2021(row), axis=1)
df_csv_append2021

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE,POP_YEAR
0,50,41,1,Oregon,Baker County,1,0,16668,8542,8126,...,372,12,15,49,53,4,3,3,3,0
1,50,41,1,Oregon,Baker County,1,1,835,439,396,...,43,1,5,7,11,0,0,0,0,0
2,50,41,1,Oregon,Baker County,1,2,978,515,463,...,41,4,1,17,11,1,0,1,0,0
3,50,41,1,Oregon,Baker County,1,3,1001,514,487,...,48,3,2,6,6,0,0,0,0,0
4,50,41,1,Oregon,Baker County,1,4,821,450,371,...,31,0,0,1,2,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179146,50,16,87,Idaho,Washington County,3,14,889,451,438,...,41,0,0,2,2,1,1,1,1,2021
179147,50,16,87,Idaho,Washington County,3,15,798,415,383,...,18,0,1,2,1,0,1,1,1,2021
179148,50,16,87,Idaho,Washington County,3,16,502,250,252,...,14,0,0,1,1,0,0,0,0,2021
179149,50,16,87,Idaho,Washington County,3,17,345,185,160,...,6,0,0,0,0,0,0,0,0,2021
179150,50,16,87,Idaho,Washington County,3,18,259,107,152,...,4,0,0,0,0,0,0,0,0,2021

In [ ]:
#Dropping unnecessary age groups
df_csv_append2021 = df_csv_append2021[df_csv_append2021.AGEGRP == 0]

In [ ]:
df_csv_append2021

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE,POP_YEAR
0,50,41,1,Oregon,Baker County,1,0,16668,8542,8126,...,372,12,15,49,53,4,3,3,3,0
19,50,41,1,Oregon,Baker County,2,0,16689,8563,8126,...,369,17,19,48,49,4,5,5,2,0
38,50,41,1,Oregon,Baker County,3,0,16847,8640,8207,...,376,13,20,45,49,8,9,4,2,2021
57,50,41,3,Oregon,Benton County,1,0,95184,47819,47365,...,3474,151,115,332,295,144,117,37,43,0
76,50,41,3,Oregon,Benton County,2,0,95167,47779,47388,...,3484,154,130,329,304,145,102,37,31,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179056,50,16,85,Idaho,Valley County,2,0,11838,6119,5719,...,231,10,7,39,28,6,3,2,2,0
179075,50,16,85,Idaho,Valley County,3,0,12241,6293,5948,...,255,12,8,40,32,5,1,0,2,2021
179094,50,16,87,Idaho,Washington County,1,0,10500,5256,5244,...,779,22,18,50,43,11,17,6,9,0
179113,50,16,87,Idaho,Washington County,2,0,10544,5275,5269,...,786,20,22,50,42,11,15,6,9,0
179132,50,16,87,Idaho,Washington County,3,0,10898,5466,5432,...,810,16,18,54,49,11,18,4,9,2021

In [ ]:
#Creating composite FIPS code
df_csv_append2021['FIPS_COUNTY'] = df_csv_append2021['COUNTY'].astype(str)
df_csv_append2021['FIPS_COUNTY'] = df_csv_append2021['FIPS_COUNTY'].str.zfill(3)
df_csv_append2021['FIPS_STATE'] = df_csv_append2021['STATE'].astype(str)
df_csv_append2021['FIPS_STATE'] = df_csv_append2021['FIPS_STATE'].str.zfill(2)
df_csv_append2021['FIPS_CODE'] = df_csv_append2021['FIPS_STATE'] + df_csv_append2021['FIPS_COUNTY']
df_csv_append2021

In [ ]:
#Dropping unnecessary years
df_csv_append2021 = df_csv_append2021[df_csv_append2021.POP_YEAR != 0]

In [ ]:
df_csv_append2021

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE,POP_YEAR,FIPS_COUNTY,FIPS_STATE,FIPS_CODE
38,50,41,1,Oregon,Baker County,3,0,16847,8640,8207,...,45,49,8,9,4,2,2021,001,41,41001
95,50,41,3,Oregon,Benton County,3,0,96017,48191,47826,...,328,321,153,111,52,35,2021,003,41,41003
152,50,41,5,Oregon,Clackamas County,3,0,422537,209875,212662,...,1659,1525,634,633,200,220,2021,005,41,41005
209,50,41,7,Oregon,Clatsop County,3,0,41810,20802,21008,...,185,149,59,56,17,17,2021,007,41,41007
266,50,41,9,Oregon,Columbia County,3,0,53074,26698,26376,...,211,163,51,52,25,15,2021,009,41,41009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178904,50,16,79,Idaho,Shoshone County,3,0,13612,6942,6670,...,34,30,6,7,8,10,2021,079,16,16079
178961,50,16,81,Idaho,Teton County,3,0,12267,6413,5854,...,48,66,10,8,1,2,2021,081,16,16081
179018,50,16,83,Idaho,Twin Falls County,3,0,92243,45753,46490,...,544,532,140,116,37,41,2021,083,16,16083
179075,50,16,85,Idaho,Valley County,3,0,12241,6293,5948,...,40,32,5,1,0,2,2021,085,16,16085
179132,50,16,87,Idaho,Washington County,3,0,10898,5466,5432,...,54,49,11,18,4,9,2021,087,16,16087

In [ ]:
#Creating one data frame which is all census data from 2000-2021
df_census_data = pd.DataFrame()
df_census_data = df_census_data.append(df_csv_append, ignore_index=True)
df_census_data = df_census_data.append(df_csv_append2020, ignore_index=True)
df_census_data = df_census_data.append(df_csv_append2021, ignore_index=True)

In [ ]:
#Reading in health data 
health_data = pd.read_csv("/content/Health_data/2010-2022_Health_Data.csv")
health_data.head()

,FIPS,State,County,YPLL Rate,Premature death 95% CI - Low,Premature death 95% CI - High,% Fair/Poor health,Poor or fair health 95% CI - Low,Poor or fair health 95% CI - High,Physically Unhealthy Days,...,% Uninsured,Uninsured 95% CI - Low,Uninsured 95% CI - High,% unemployed,% Children in Poverty,Children in poverty 95% CI - Low,Children in poverty 95% CI - High,Violent Crimes,Violent Crime Rate,Year
0,1001,Alabama,Autauga,9778.1,8785.9,10770.2,25.86,20.03,32.68,5.48,...,14.0,12.0,16.0,4.6,13.8,11.2,16.4,377.0,256.49,2010
1,1003,Alabama,Baldwin,8221.7,7715.9,8727.4,13.38,11.13,16.00,3.57,...,20.9,18.7,23.1,4.1,15.3,12.7,17.9,862.0,171.62,2010
2,1005,Alabama,Barbour,10686.1,9262.8,12109.4,24.42,18.48,31.54,6.11,...,15.1,12.8,17.4,7.8,34.1,27.9,40.3,54.0,64.01,2010
3,1007,Alabama,Bibb,13069.5,11270.6,14868.3,18.17,12.30,26.01,4.22,...,17.7,15.2,20.2,5.2,24.2,19.2,29.2,82.0,127.58,2010
4,1009,Alabama,Blount,8929.7,8040.2,9819.1,24.93,19.45,31.36,5.62,...,20.8,18.3,23.3,4.1,18.5,15.1,21.9,157.0,93.78,2010

In [ ]:
#Creating new FIPS column which is string to be able to join with census data
health_data['FIPS_NEW'] = health_data['FIPS'].astype(str)
health_data.head()

,FIPS,State,County,YPLL Rate,Premature death 95% CI - Low,Premature death 95% CI - High,% Fair/Poor health,Poor or fair health 95% CI - Low,Poor or fair health 95% CI - High,Physically Unhealthy Days,...,Uninsured 95% CI - Low,Uninsured 95% CI - High,% unemployed,% Children in Poverty,Children in poverty 95% CI - Low,Children in poverty 95% CI - High,Violent Crimes,Violent Crime Rate,Year,FIPS_NEW
0,1001,Alabama,Autauga,9778.1,8785.9,10770.2,25.86,20.03,32.68,5.48,...,12.0,16.0,4.6,13.8,11.2,16.4,377.0,256.49,2010,1001
1,1003,Alabama,Baldwin,8221.7,7715.9,8727.4,13.38,11.13,16.00,3.57,...,18.7,23.1,4.1,15.3,12.7,17.9,862.0,171.62,2010,1003
2,1005,Alabama,Barbour,10686.1,9262.8,12109.4,24.42,18.48,31.54,6.11,...,12.8,17.4,7.8,34.1,27.9,40.3,54.0,64.01,2010,1005
3,1007,Alabama,Bibb,13069.5,11270.6,14868.3,18.17,12.30,26.01,4.22,...,15.2,20.2,5.2,24.2,19.2,29.2,82.0,127.58,2010,1007
4,1009,Alabama,Blount,8929.7,8040.2,9819.1,24.93,19.45,31.36,5.62,...,18.3,23.3,4.1,18.5,15.1,21.9,157.0,93.78,2010,1009

In [ ]:
#Adding leading zeroes necessary for format
health_data['FIPS_NEW'] = health_data['FIPS_NEW'].str.zfill(5)

In [ ]:
health_data.head()

,FIPS,State,County,YPLL Rate,Premature death 95% CI - Low,Premature death 95% CI - High,% Fair/Poor health,Poor or fair health 95% CI - Low,Poor or fair health 95% CI - High,Physically Unhealthy Days,...,Uninsured 95% CI - Low,Uninsured 95% CI - High,% unemployed,% Children in Poverty,Children in poverty 95% CI - Low,Children in poverty 95% CI - High,Violent Crimes,Violent Crime Rate,Year,FIPS_NEW
0,1001,Alabama,Autauga,9778.1,8785.9,10770.2,25.86,20.03,32.68,5.48,...,12.0,16.0,4.6,13.8,11.2,16.4,377.0,256.49,2010,01001
1,1003,Alabama,Baldwin,8221.7,7715.9,8727.4,13.38,11.13,16.00,3.57,...,18.7,23.1,4.1,15.3,12.7,17.9,862.0,171.62,2010,01003
2,1005,Alabama,Barbour,10686.1,9262.8,12109.4,24.42,18.48,31.54,6.11,...,12.8,17.4,7.8,34.1,27.9,40.3,54.0,64.01,2010,01005
3,1007,Alabama,Bibb,13069.5,11270.6,14868.3,18.17,12.30,26.01,4.22,...,15.2,20.2,5.2,24.2,19.2,29.2,82.0,127.58,2010,01007
4,1009,Alabama,Blount,8929.7,8040.2,9819.1,24.93,19.45,31.36,5.62,...,18.3,23.3,4.1,18.5,15.1,21.9,157.0,93.78,2010,01009

In [ ]:
#Joining census and health data on FIPS and year
census_health = pd.merge(df_census_data, health_data,  how='left', left_on=['FIPS_CODE','POP_YEAR'], right_on = ['FIPS_NEW','Year'])
census_health.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,Uninsured 95% CI - Low,Uninsured 95% CI - High,% unemployed,% Children in Poverty,Children in poverty 95% CI - Low,Children in poverty 95% CI - High,Violent Crimes,Violent Crime Rate,Year,FIPS_NEW
0,50,4,1,Arizona,Apache County,2,0,1243,620,623,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,50,4,1,Arizona,Apache County,3,0,1101,542,559,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,50,4,1,Arizona,Apache County,4,0,1050,515,535,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,50,4,1,Arizona,Apache County,5,0,1084,550,534,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,50,4,1,Arizona,Apache County,6,0,1211,642,569,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Creating surrogate keys
census_health = census_health.assign(County_Key=range(len(census_health)))
census_health

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,Uninsured 95% CI - High,% unemployed,% Children in Poverty,Children in poverty 95% CI - Low,Children in poverty 95% CI - High,Violent Crimes,Violent Crime Rate,Year,FIPS_NEW,County_Key
0,50,4,1,Arizona,Apache County,2,0,1243,620,623,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,50,4,1,Arizona,Apache County,3,0,1101,542,559,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,50,4,1,Arizona,Apache County,4,0,1050,515,535,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
3,50,4,1,Arizona,Apache County,5,0,1084,550,534,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4,50,4,1,Arizona,Apache County,6,0,1211,642,569,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69141,50,16,79,Idaho,Shoshone County,3,0,13612,6942,6670,...,17.17,5.91,26.3,17.36,35.24,50.0,396.42,2021.0,16079,69141
69142,50,16,81,Idaho,Teton County,3,0,12267,6413,5854,...,19.81,2.20,10.8,6.27,15.33,9.0,85.34,2021.0,16081,69142
69143,50,16,83,Idaho,Twin Falls County,3,0,92243,45753,46490,...,16.30,2.80,13.3,8.18,18.42,200.0,242.35,2021.0,16083,69143
69144,50,16,85,Idaho,Valley County,3,0,12241,6293,5948,...,16.28,3.89,12.0,7.23,16.77,33.0,327.21,2021.0,16085,69144
69145,50,16,87,Idaho,Washington County,3,0,10898,5466,5432,...,20.16,4.16,19.8,11.58,28.02,10.0,100.21,2021.0,16087,69145

In [ ]:
census_health=census_health.drop(['FIPS', 'State', 'County', 'Year', 'FIPS_NEW','SUMLEV', 'YEAR', 'AGEGRP', 'STATE', 'COUNTY'], axis=1)
census_health

,STNAME,CTYNAME,TOT_POP,TOT_MALE,TOT_FEMALE,WA_MALE,WA_FEMALE,BA_MALE,BA_FEMALE,IA_MALE,...,% Uninsured,Uninsured 95% CI - Low,Uninsured 95% CI - High,% unemployed,% Children in Poverty,Children in poverty 95% CI - Low,Children in poverty 95% CI - High,Violent Crimes,Violent Crime Rate,County_Key
0,Arizona,Apache County,1243,620,623,86,96,1,0,519,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,Arizona,Apache County,1101,542,559,83,86,3,0,443,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,Arizona,Apache County,1050,515,535,81,77,3,0,417,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
3,Arizona,Apache County,1084,550,534,97,67,4,0,432,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4,Arizona,Apache County,1211,642,569,96,70,3,0,529,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69141,Idaho,Shoshone County,13612,6942,6670,6538,6267,71,25,134,...,15.14,13.12,17.17,5.91,26.3,17.36,35.24,50.0,396.42,69141
69142,Idaho,Teton County,12267,6413,5854,6190,5601,36,29,56,...,17.43,15.05,19.81,2.20,10.8,6.27,15.33,9.0,85.34,69142
69143,Idaho,Twin Falls County,92243,45753,46490,42836,43268,447,480,662,...,14.63,12.96,16.30,2.80,13.3,8.18,18.42,200.0,242.35,69143
69144,Idaho,Valley County,12241,6293,5948,6046,5708,29,24,74,...,14.14,12.00,16.28,3.89,12.0,7.23,16.77,33.0,327.21,69144
69145,Idaho,Washington County,10898,5466,5432,5142,5132,46,28,81,...,17.89,15.63,20.16,4.16,19.8,11.58,28.02,10.0,100.21,69145

In [ ]:
from google.colab import files
census_health.to_csv('Census_Health_Data.csv', encoding = 'utf-8-sig', index=False) 
files.download('Census_Health_Data.csv')