In [1]:
#Defining path to census 2000-2010 files to be able to append all of them into one data frame
import glob

In [2]:
import os

In [3]:
path = '/content/Census_data/2000-2010'

In [4]:
extension = 'csv'

In [5]:
os.chdir(path)

In [6]:
result = glob.glob('*.{}'.format(extension))

In [7]:
import pandas as pd

In [ ]:
#Appending all census data from 2000-2010 together
df_csv_append = pd.DataFrame()
for file in result:
    df = pd.read_csv(file, encoding='latin-1')
    df_csv_append = df_csv_append.append(df, ignore_index=True)

In [9]:
#Year is not defined as an absolute year, but a code that refers to a certain year. 
#Certain year codes need to be dropped, given value '0'
def categorise(row):
    if row['YEAR'] == 1:
      return 0 
    if row['YEAR'] == 2:
        return 2000
    if row['YEAR'] == 3:
        return 2001
    if row['YEAR'] == 4:
        return 2002
    if row['YEAR'] == 5:
        return 2003
    if row['YEAR'] == 6:
        return 2004
    if row['YEAR'] == 7:
        return 2005
    if row['YEAR'] == 8:
        return 2006
    if row['YEAR'] == 9:
        return 2007
    if row['YEAR'] == 10:
        return 2008
    if row['YEAR'] == 11:
        return 2009
    if row['YEAR'] == 12:
        return 0
    if row['YEAR'] == 13:
        return 2010    
    return 0

In [10]:
#New year column "POP_YEAR" is created
df_csv_append['POP_YEAR'] = df_csv_append.apply (lambda row: categorise(row), axis=1)

In [11]:
df_csv_append

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HBA_FEMALE,HIA_MALE,HIA_FEMALE,HAA_MALE,HAA_FEMALE,HNA_MALE,HNA_FEMALE,HTOM_MALE,HTOM_FEMALE,POP_YEAR
0,50,15,1,Hawaii,Hawaii County,1,0,1727,884,843,...,1,4,1,14,12,27,14,130,129,0
1,50,15,1,Hawaii,Hawaii County,1,1,7403,3900,3503,...,3,5,6,39,37,78,71,466,430,0
2,50,15,1,Hawaii,Hawaii County,1,2,11032,5850,5182,...,3,5,4,64,55,92,94,571,532,0
3,50,15,1,Hawaii,Hawaii County,1,3,11567,5924,5643,...,10,6,9,76,66,85,70,490,437,0
4,50,15,1,Hawaii,Hawaii County,1,4,11087,5722,5365,...,11,7,13,60,68,78,62,370,421,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
817175,50,22,127,Louisiana,Winn Parish,13,15,524,249,275,...,0,0,0,0,0,0,0,0,0,2010
817176,50,22,127,Louisiana,Winn Parish,13,16,405,156,249,...,0,0,0,0,0,0,0,0,0,2010
817177,50,22,127,Louisiana,Winn Parish,13,17,253,104,149,...,0,0,0,0,0,0,0,0,0,2010
817178,50,22,127,Louisiana,Winn Parish,13,18,275,77,198,...,0,0,0,0,0,0,0,0,0,2010
817179,50,22,127,Louisiana,Winn Parish,13,99,15287,8028,7259,...,20,3,2,0,0,1,0,2,1,2010

In [12]:
#Age group 0 defines whole population
#Every other age group is dropped
df_csv_append = df_csv_append[df_csv_append.AGEGRP == 0]

In [13]:
df_csv_append

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HBA_FEMALE,HIA_MALE,HIA_FEMALE,HAA_MALE,HAA_FEMALE,HNA_MALE,HNA_FEMALE,HTOM_MALE,HTOM_FEMALE,POP_YEAR
0,50,15,1,Hawaii,Hawaii County,1,0,1727,884,843,...,1,4,1,14,12,27,14,130,129,0
20,50,15,1,Hawaii,Hawaii County,2,0,1743,894,849,...,1,4,1,14,12,27,15,130,126,2000
40,50,15,1,Hawaii,Hawaii County,3,0,1878,985,893,...,3,5,14,32,34,61,20,114,116,2001
60,50,15,1,Hawaii,Hawaii County,4,0,1792,946,846,...,4,4,13,34,29,69,21,145,119,2002
80,50,15,1,Hawaii,Hawaii County,5,0,1980,1076,904,...,3,3,6,37,26,74,23,151,142,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
817080,50,22,127,Louisiana,Winn Parish,9,0,214,102,112,...,0,0,0,0,0,0,0,1,0,2007
817100,50,22,127,Louisiana,Winn Parish,10,0,200,94,106,...,0,0,0,0,0,0,0,1,0,2008
817120,50,22,127,Louisiana,Winn Parish,11,0,186,84,102,...,0,0,0,0,0,0,0,1,0,2009
817140,50,22,127,Louisiana,Winn Parish,12,0,187,83,104,...,0,0,0,0,0,0,0,1,0,0
817160,50,22,127,Louisiana,Winn Parish,13,0,186,84,102,...,0,0,0,0,0,0,0,1,0,2010

In [ ]:
#FIPS code is given as county and state seperately
#New code has to be created which is a composite of both so that other data can be joined later on
#Creating a string version of the county column
df_csv_append['FIPS_COUNTY'] = df_csv_append['COUNTY'].astype(str)

In [ ]:
#Adding leading zeroes to match necessary format
df_csv_append['FIPS_COUNTY'] = df_csv_append['FIPS_COUNTY'].str.zfill(3)

In [ ]:
#Creating string version of state column
df_csv_append['FIPS_STATE'] = df_csv_append['STATE'].astype(str)

In [ ]:
#Adding leading zeroes to match necessary format
df_csv_append['FIPS_STATE'] = df_csv_append['FIPS_STATE'].str.zfill(2)

In [ ]:
#Creating FIPS code which is a composite of state and county
df_csv_append['FIPS_CODE'] = df_csv_append['FIPS_STATE'] + df_csv_append['FIPS_COUNTY']

In [19]:
df_csv_append

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HAA_MALE,HAA_FEMALE,HNA_MALE,HNA_FEMALE,HTOM_MALE,HTOM_FEMALE,POP_YEAR,FIPS_COUNTY,FIPS_STATE,FIPS_CODE
0,50,15,1,Hawaii,Hawaii County,1,0,1727,884,843,...,14,12,27,14,130,129,0,001,15,15001
20,50,15,1,Hawaii,Hawaii County,2,0,1743,894,849,...,14,12,27,15,130,126,2000,001,15,15001
40,50,15,1,Hawaii,Hawaii County,3,0,1878,985,893,...,32,34,61,20,114,116,2001,001,15,15001
60,50,15,1,Hawaii,Hawaii County,4,0,1792,946,846,...,34,29,69,21,145,119,2002,001,15,15001
80,50,15,1,Hawaii,Hawaii County,5,0,1980,1076,904,...,37,26,74,23,151,142,2003,001,15,15001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
817080,50,22,127,Louisiana,Winn Parish,9,0,214,102,112,...,0,0,0,0,1,0,2007,127,22,22127
817100,50,22,127,Louisiana,Winn Parish,10,0,200,94,106,...,0,0,0,0,1,0,2008,127,22,22127
817120,50,22,127,Louisiana,Winn Parish,11,0,186,84,102,...,0,0,0,0,1,0,2009,127,22,22127
817140,50,22,127,Louisiana,Winn Parish,12,0,187,83,104,...,0,0,0,0,1,0,0,127,22,22127
817160,50,22,127,Louisiana,Winn Parish,13,0,186,84,102,...,0,0,0,0,1,0,2010,127,22,22127

In [20]:
#Dropping years that we do not want
df_csv_append = df_csv_append[df_csv_append.POP_YEAR != 0]

In [21]:
df_csv_append

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HAA_MALE,HAA_FEMALE,HNA_MALE,HNA_FEMALE,HTOM_MALE,HTOM_FEMALE,POP_YEAR,FIPS_COUNTY,FIPS_STATE,FIPS_CODE
20,50,15,1,Hawaii,Hawaii County,2,0,1743,894,849,...,14,12,27,15,130,126,2000,001,15,15001
40,50,15,1,Hawaii,Hawaii County,3,0,1878,985,893,...,32,34,61,20,114,116,2001,001,15,15001
60,50,15,1,Hawaii,Hawaii County,4,0,1792,946,846,...,34,29,69,21,145,119,2002,001,15,15001
80,50,15,1,Hawaii,Hawaii County,5,0,1980,1076,904,...,37,26,74,23,151,142,2003,001,15,15001
100,50,15,1,Hawaii,Hawaii County,6,0,2161,1123,1038,...,35,31,57,26,183,175,2004,001,15,15001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
817060,50,22,127,Louisiana,Winn Parish,8,0,194,91,103,...,0,0,0,0,1,0,2006,127,22,22127
817080,50,22,127,Louisiana,Winn Parish,9,0,214,102,112,...,0,0,0,0,1,0,2007,127,22,22127
817100,50,22,127,Louisiana,Winn Parish,10,0,200,94,106,...,0,0,0,0,1,0,2008,127,22,22127
817120,50,22,127,Louisiana,Winn Parish,11,0,186,84,102,...,0,0,0,0,1,0,2009,127,22,22127
817160,50,22,127,Louisiana,Winn Parish,13,0,186,84,102,...,0,0,0,0,1,0,2010,127,22,22127

In [22]:
#Downloading csv
from google.colab import files
df_csv_append.to_csv('Census2000-2010.csv', encoding = 'utf-8-sig') 
files.download('Census2000-2010.csv')

In [23]:
#Repeating all steps for data from 2010-2020
path = '/content/Census_data/2010-2020'
extension = 'csv'
os.chdir(path)
result = glob.glob('*.{}'.format(extension))

In [ ]:
df_csv_append2020 = pd.DataFrame()
for file in result:
    df = pd.read_csv(file, encoding='latin-1')
    df_csv_append2020 = df_csv_append2020.append(df, ignore_index=True)

In [25]:
#Defining the year categories based on new dataset
def categorise2010(row):
    if row['YEAR'] == 1:
      return 0 
    if row['YEAR'] == 2:
        return 0
    if row['YEAR'] == 3:
        return 0
    if row['YEAR'] == 4:
        return 2011
    if row['YEAR'] == 5:
        return 2012
    if row['YEAR'] == 6:
        return 2013
    if row['YEAR'] == 7:
        return 2014
    if row['YEAR'] == 8:
        return 2015
    if row['YEAR'] == 9:
        return 2016
    if row['YEAR'] == 10:
        return 2017
    if row['YEAR'] == 11:
        return 2018
    if row['YEAR'] == 12:
        return 2019
    if row['YEAR'] == 13:
        return 2020    
    return 0

In [26]:
#Applying new year function
df_csv_append2020['POP_YEAR'] = df_csv_append2020.apply (lambda row: categorise2010(row), axis=1)
df_csv_append2020

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE,POP_YEAR
0,50,44,1,Rhode Island,Bristol County,1,0,49875,23951,25924,...,466,45,34,15,23,19,19,4,5,0
1,50,44,1,Rhode Island,Bristol County,1,1,2179,1100,1079,...,48,7,5,4,7,2,1,0,0,0
2,50,44,1,Rhode Island,Bristol County,1,2,2870,1407,1463,...,53,2,2,1,2,2,4,0,1,0
3,50,44,1,Rhode Island,Bristol County,1,3,3111,1570,1541,...,34,5,2,2,2,2,5,0,3,0
4,50,44,1,Rhode Island,Bristol County,1,4,4125,2137,1988,...,43,6,6,2,2,4,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
776316,50,56,45,Wyoming,Weston County,13,14,548,298,250,...,5,0,0,0,0,0,0,0,0,2020
776317,50,56,45,Wyoming,Weston County,13,15,360,190,170,...,3,0,0,0,0,0,0,0,0,2020
776318,50,56,45,Wyoming,Weston County,13,16,223,108,115,...,0,0,0,0,0,0,0,0,0,2020
776319,50,56,45,Wyoming,Weston County,13,17,182,72,110,...,1,0,0,1,0,0,0,0,0,2020
776320,50,56,45,Wyoming,Weston County,13,18,202,81,121,...,1,0,0,0,0,0,0,0,0,2020

In [27]:
#Dropping unnecessary age groups
df_csv_append2020 = df_csv_append2020[df_csv_append2020.AGEGRP == 0]

In [28]:
df_csv_append2020

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE,POP_YEAR
0,50,44,1,Rhode Island,Bristol County,1,0,49875,23951,25924,...,466,45,34,15,23,19,19,4,5,0
19,50,44,1,Rhode Island,Bristol County,2,0,49842,23934,25908,...,465,45,34,15,23,19,19,4,5,0
38,50,44,1,Rhode Island,Bristol County,3,0,49817,23919,25898,...,466,52,51,14,14,15,12,4,6,0
57,50,44,1,Rhode Island,Bristol County,4,0,49238,23605,25633,...,473,53,51,11,18,15,19,5,3,2011
76,50,44,1,Rhode Island,Bristol County,5,0,49280,23666,25614,...,533,55,50,14,22,16,16,7,8,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
776226,50,56,45,Wyoming,Weston County,9,0,7228,3794,3434,...,115,5,9,23,25,2,0,1,0,2016
776245,50,56,45,Wyoming,Weston County,10,0,6962,3665,3297,...,114,6,7,21,24,2,5,2,0,2017
776264,50,56,45,Wyoming,Weston County,11,0,6895,3624,3271,...,109,4,6,24,27,4,1,1,0,2018
776283,50,56,45,Wyoming,Weston County,12,0,6880,3615,3265,...,115,4,6,23,27,3,3,2,0,2019
776302,50,56,45,Wyoming,Weston County,13,0,6743,3538,3205,...,116,5,6,18,29,3,0,1,1,2020

In [ ]:
#Creating composite FIPS key
df_csv_append2020['FIPS_COUNTY'] = df_csv_append2020['COUNTY'].astype(str)
df_csv_append2020['FIPS_COUNTY'] = df_csv_append2020['FIPS_COUNTY'].str.zfill(3)
df_csv_append2020['FIPS_STATE'] = df_csv_append2020['STATE'].astype(str)
df_csv_append2020['FIPS_STATE'] = df_csv_append2020['FIPS_STATE'].str.zfill(2)
df_csv_append2020['FIPS_CODE'] = df_csv_append2020['FIPS_STATE'] + df_csv_append2020['FIPS_COUNTY']

In [30]:
#Dropping unnecessary years
df_csv_append2020 = df_csv_append2020[df_csv_append2020.POP_YEAR != 0]

In [31]:
df_csv_append2020

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE,POP_YEAR,FIPS_COUNTY,FIPS_STATE,FIPS_CODE
57,50,44,1,Rhode Island,Bristol County,4,0,49238,23605,25633,...,11,18,15,19,5,3,2011,001,44,44001
76,50,44,1,Rhode Island,Bristol County,5,0,49280,23666,25614,...,14,22,16,16,7,8,2012,001,44,44001
95,50,44,1,Rhode Island,Bristol County,6,0,49266,23711,25555,...,15,21,16,18,5,1,2013,001,44,44001
114,50,44,1,Rhode Island,Bristol County,7,0,49100,23654,25446,...,19,24,14,19,4,5,2014,001,44,44001
133,50,44,1,Rhode Island,Bristol County,8,0,49159,23688,25471,...,19,24,17,20,6,7,2015,001,44,44001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
776226,50,56,45,Wyoming,Weston County,9,0,7228,3794,3434,...,23,25,2,0,1,0,2016,045,56,56045
776245,50,56,45,Wyoming,Weston County,10,0,6962,3665,3297,...,21,24,2,5,2,0,2017,045,56,56045
776264,50,56,45,Wyoming,Weston County,11,0,6895,3624,3271,...,24,27,4,1,1,0,2018,045,56,56045
776283,50,56,45,Wyoming,Weston County,12,0,6880,3615,3265,...,23,27,3,3,2,0,2019,045,56,56045
776302,50,56,45,Wyoming,Weston County,13,0,6743,3538,3205,...,18,29,3,0,1,1,2020,045,56,56045

In [32]:
#Downloading csv
df_csv_append2020.to_csv('Census2010-2020.csv', encoding = 'utf-8-sig') 
files.download('Census2010-2020.csv')

In [ ]:
#Repeating steps for 2021 data
path = '/content/Census_data/2020-2021'
extension = 'csv'
os.chdir(path)
result = glob.glob('*.{}'.format(extension))
df_csv_append2021 = pd.DataFrame()
for file in result:
    df = pd.read_csv(file, encoding='latin-1')
    df_csv_append2021 = df_csv_append2021.append(df, ignore_index=True)

In [34]:
#Only want to keep 1 year, defining function for categorizing years
def categorise2021(row):
    if row['YEAR'] == 3:
      return 2021  
    return 0

In [35]:
#Applying year categorization
df_csv_append2021['POP_YEAR'] = df_csv_append2021.apply (lambda row: categorise2021(row), axis=1)
df_csv_append2021

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE,POP_YEAR
0,50,23,1,Maine,Androscoggin County,1,0,111139,54708,56431,...,937,159,143,74,67,59,22,13,11,0
1,50,23,1,Maine,Androscoggin County,1,1,6322,3166,3156,...,70,16,16,4,2,2,0,1,0,0
2,50,23,1,Maine,Androscoggin County,1,2,6718,3372,3346,...,78,21,16,10,5,5,5,0,2,0
3,50,23,1,Maine,Androscoggin County,1,3,7063,3634,3429,...,94,18,19,5,10,1,3,0,1,0
4,50,23,1,Maine,Androscoggin County,1,4,6932,3529,3403,...,100,20,15,4,7,3,1,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179146,50,13,321,Georgia,Worth County,3,14,1294,620,674,...,7,1,0,1,0,0,0,0,0,2021
179147,50,13,321,Georgia,Worth County,3,15,1132,513,619,...,5,0,2,0,0,0,0,0,0,2021
179148,50,13,321,Georgia,Worth County,3,16,819,364,455,...,5,0,1,0,0,0,0,0,0,2021
179149,50,13,321,Georgia,Worth County,3,17,493,214,279,...,2,1,0,0,0,0,0,0,0,2021
179150,50,13,321,Georgia,Worth County,3,18,391,121,270,...,2,1,2,0,0,0,0,0,0,2021

In [36]:
#Dropping unnecessary age groups
df_csv_append2021 = df_csv_append2021[df_csv_append2021.AGEGRP == 0]

In [37]:
df_csv_append2021

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE,POP_YEAR
0,50,23,1,Maine,Androscoggin County,1,0,111139,54708,56431,...,937,159,143,74,67,59,22,13,11,0
19,50,23,1,Maine,Androscoggin County,2,0,111039,54633,56406,...,934,157,146,82,75,67,29,15,11,0
38,50,23,1,Maine,Androscoggin County,3,0,111034,54656,56378,...,943,151,140,83,69,59,29,19,15,2021
57,50,23,3,Maine,Aroostook County,1,0,67105,33523,33582,...,379,46,46,61,59,8,16,7,5,0
76,50,23,3,Maine,Aroostook County,2,0,66994,33481,33513,...,396,51,46,56,59,10,17,7,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179056,50,13,319,Georgia,Wilkinson County,2,0,8844,4298,4546,...,106,16,13,18,9,4,1,1,0,0
179075,50,13,319,Georgia,Wilkinson County,3,0,8831,4251,4580,...,107,14,11,19,8,7,2,1,0,2021
179094,50,13,321,Georgia,Worth County,1,0,20784,10000,10784,...,192,44,44,11,5,6,3,1,0,0
179113,50,13,321,Georgia,Worth County,2,0,20719,9956,10763,...,193,45,44,12,7,3,3,1,0,0
179132,50,13,321,Georgia,Worth County,3,0,20554,9830,10724,...,211,46,50,14,7,3,3,3,0,2021

In [ ]:
#Creating composite FIPS code
df_csv_append2021['FIPS_COUNTY'] = df_csv_append2021['COUNTY'].astype(str)
df_csv_append2021['FIPS_COUNTY'] = df_csv_append2021['FIPS_COUNTY'].str.zfill(3)
df_csv_append2021['FIPS_STATE'] = df_csv_append2021['STATE'].astype(str)
df_csv_append2021['FIPS_STATE'] = df_csv_append2021['FIPS_STATE'].str.zfill(2)
df_csv_append2021['FIPS_CODE'] = df_csv_append2021['FIPS_STATE'] + df_csv_append2021['FIPS_COUNTY']

In [39]:
#Dropping unnecessary years
df_csv_append2021 = df_csv_append2021[df_csv_append2021.POP_YEAR != 0]

In [40]:
df_csv_append2021

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE,POP_YEAR,FIPS_COUNTY,FIPS_STATE,FIPS_CODE
38,50,23,1,Maine,Androscoggin County,3,0,111034,54656,56378,...,83,69,59,29,19,15,2021,001,23,23001
95,50,23,3,Maine,Aroostook County,3,0,66859,33428,33431,...,66,77,10,13,7,7,2021,003,23,23003
152,50,23,5,Maine,Cumberland County,3,0,305231,149001,156230,...,155,163,88,107,29,26,2021,005,23,23005
209,50,23,7,Maine,Franklin County,3,0,29687,14676,15011,...,14,14,6,5,1,2,2021,007,23,23007
266,50,23,9,Maine,Hancock County,3,0,56192,27336,28856,...,38,33,12,11,2,5,2021,009,23,23009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178904,50,13,313,Georgia,Whitfield County,3,0,102848,51463,51385,...,841,713,123,118,108,107,2021,313,13,13313
178961,50,13,315,Georgia,Wilcox County,3,0,8739,5299,3440,...,8,7,6,4,1,2,2021,315,13,13315
179018,50,13,317,Georgia,Wilkes County,3,0,9513,4598,4915,...,6,5,10,13,0,1,2021,317,13,13317
179075,50,13,319,Georgia,Wilkinson County,3,0,8831,4251,4580,...,19,8,7,2,1,0,2021,319,13,13319
179132,50,13,321,Georgia,Worth County,3,0,20554,9830,10724,...,14,7,3,3,3,0,2021,321,13,13321

In [ ]:
#Creating one data frame which is all census data from 2000-2021
df_census_data = pd.DataFrame()
df_census_data = df_census_data.append(df_csv_append, ignore_index=True)
df_census_data = df_census_data.append(df_csv_append2020, ignore_index=True)
df_census_data = df_census_data.append(df_csv_append2021, ignore_index=True)

In [42]:
#Creating surrogate keys
df_census_data = df_census_data.assign(County_Key=range(len(df_census_data)))
df_census_data

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE,County_Key
0,50,15,1,Hawaii,Hawaii County,2,0,1743,894,849,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,50,15,1,Hawaii,Hawaii County,3,0,1878,985,893,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,50,15,1,Hawaii,Hawaii County,4,0,1792,946,846,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
3,50,15,1,Hawaii,Hawaii County,5,0,1980,1076,904,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4,50,15,1,Hawaii,Hawaii County,6,0,2161,1123,1038,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69141,50,13,313,Georgia,Whitfield County,3,0,102848,51463,51385,...,17169,520,518,841,713,123,118,108,107,69141
69142,50,13,315,Georgia,Wilcox County,3,0,8739,5299,3440,...,112,52,19,8,7,6,4,1,2,69142
69143,50,13,317,Georgia,Wilkes County,3,0,9513,4598,4915,...,213,44,25,6,5,10,13,0,1,69143
69144,50,13,319,Georgia,Wilkinson County,3,0,8831,4251,4580,...,107,14,11,19,8,7,2,1,0,69144
69145,50,13,321,Georgia,Worth County,3,0,20554,9830,10724,...,211,46,50,14,7,3,3,3,0,69145

In [44]:
#Dropping unnecessary columns
df_census_data = df_census_data.drop(['SUMLEV', 'YEAR', 'AGEGRP', 'STATE', 'COUNTY'], axis=1)

In [45]:
df_census_data

,STNAME,CTYNAME,TOT_POP,TOT_MALE,TOT_FEMALE,WA_MALE,WA_FEMALE,BA_MALE,BA_FEMALE,IA_MALE,...,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE,County_Key
0,Hawaii,Hawaii County,1743,894,849,132,141,4,4,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,Hawaii,Hawaii County,1878,985,893,184,171,15,6,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,Hawaii,Hawaii County,1792,946,846,151,135,11,6,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
3,Hawaii,Hawaii County,1980,1076,904,222,184,12,5,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4,Hawaii,Hawaii County,2161,1123,1038,241,238,9,4,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69141,Georgia,Whitfield County,102848,51463,51385,46479,46606,2318,2157,822,...,17169,520,518,841,713,123,118,108,107,69141
69142,Georgia,Wilcox County,8739,5299,3440,3087,2417,2060,923,14,...,112,52,19,8,7,6,4,1,2,69142
69143,Georgia,Wilkes County,9513,4598,4915,2692,2681,1768,2045,9,...,213,44,25,6,5,10,13,0,1,69143
69144,Georgia,Wilkinson County,8831,4251,4580,2592,2681,1520,1766,33,...,107,14,11,19,8,7,2,1,0,69144
69145,Georgia,Worth County,20554,9830,10724,6951,7220,2647,3210,39,...,211,46,50,14,7,3,3,3,0,69145

In [46]:
#Downloading county information dataset
from google.colab import files
df_census_data.to_csv('County_Information.csv', encoding = 'utf-8-sig', index=False) 
files.download('County_Information.csv')